@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

$accent-color: var(--accent-color);

.body-logo-head {
  font-family: "Raleway", sans-serif;
  margin-right: 90px;
  @include font(700, 26px, 1.19);
  letter-spacing: 0.03em;
  display: inline-block;
  color: $accent-color;
}

.body-logo-footer {
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 1.19);
  letter-spacing: 0.03em;
  display: inline-block;
  color: $accent-color;
}
@mixin font($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
}
.second-body-logo {
  @include font(26px, 1.19);
  color: var(--second-logo-color);
}
.third-body-logo {
  @include font(26px, 1.19);
  color: var(--logo-color);
}
.addres-logo {
  margin-bottom: 20px;
}
