:root {
  --header-color: #ffffff;
  --line-header-color: #ececec;
  --logo-color: #000000;
  --second-logo-color: #ffffff;
  --accent-color: #2196f3;
  --second-accent-color: #2f303a;
  --third-accent-color: #f5f4fa;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --fon-hero-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --portfolio-color: #e5e5e5;
}
